<footer>
  <div class="footer-inner">
    <div class="logo-container">
      <div class="logo"><a href="/">srcful</a></div>
    </div>

    <div class="footer-menus">
      <div class="about">
        <h3><span>about us</span></h3>
        <ul>
          <li>
            <a>who are we</a>
          </li>
          <li>
            <a>help center</a>
          </li>
          <li>
            <a>our goals</a>
          </li>
          <li>
            <a>careers</a>
          </li>
        </ul>
      </div>
      <div class="policy">
        <h3><span>our policies</span></h3>
        <ul>
          <li><a> copyright & trademark </a></li>
          <li><a> terms of service </a></li>
          <li><a> privacy & cookies </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">&copy;<span>srcful</span></div>
</footer>
