<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <header>
   


  
    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/urls">srcful</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        </div>
      </div>
  
      <%# if(typeof user !== 'undefined') { %>
      <div class="form-inline">
        <form action="/logout" method="POST" class="form-inline">
          <label for="user" class="navbar-brand"
            >Signed In:
            <span style="text-decoration: underline; padding-left: 5px"
              ><%# user.email %></span
            ></label
          >
          <button
            class="btn btn-outline-secondary"
            name="login"
            type="submit"
            style="margin-left: 16px"
          >
            Logout
          </button>
        </form>
      </div>
      <%# } else { %>
  
      <div class="form-inline">
        <a href="/register">
          <button
            class="btn btn-primary"
            name="login"
            type="submit"
            style="margin-left: 16px"
          >
            Register
          </button></a
        >
        <a href="/login">
          <button
            class="btn btn-primary"
            name="login"
            type="submit"
            style="
              margin-left: 16px;
              background-color: #f85e37;
              border-color: #f85e37;
            "
          >
            Login
          </button></a
        >
      </div>
      <%# } %>
    </nav> -->

  


  </header>
  
 
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
