<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <title>Login</title>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <header>
    <%- include('partials/_nav') %>
  </header>
  <main >
    <!-- Login Form -->
    <div>
      <h2>Login</h2>
      <form action="/login" method="POST">
        <div class="">
          <label for="email">Email Address</label>
          <input class="" type="email" name="email" placeholder="Enter email" style="width: 300px; margin-bottom: 1em">
          <label for="password">Password</label>
          <input class="" type="password" name="password" placeholder="Password" style="width: 300px; margin-bottom: 1em">
          <button type="submit" class="">Login</button>
        </div>
      </form>
    </div>
  </main>
  <footer></footer>
 
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
