<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="icon" href="/favicon_io/favicon-16x16.png" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <title>Login</title>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_nav') %>

    <main>
      <!-- Login Form -->
      <div class="login-form">
        <h2>Login</h2>
        <form action="/login" method="POST">
          <div class="error-container" style="opacity: 1">
            <% if (locals.error) { %>
            <p id="error-msg">
              <span class="error"><%= error %></span>
            </p>
            <% } %>
          </div>
          <div class="form-group">
            <div>
              <label for="email">email:</label>
              <input
                class=""
                type="email"
                name="email"
                placeholder="email@email.com"
              />
            </div>
            <div>
              <label for="password">password:</label>
              <input
                class=""
                type="password"
                name="password"
                placeholder="****"
              />
            </div>
            <div class="btn-container">
              <button type="submit" class="">login</button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <!-- footer -->
    <%- include('partials/_footer') %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
