<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="icon" href="/favicon_io/favicon-16x16.png" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-auto-a11y="true"
    ></script>
    <title>My Resources</title>
  </head>

  <body>
    <!-- header -->
    <%- include('partials/_nav') %>
    <main>
      <div class="myresource-container">
        <div class="header-banner">
          <h1>my resources</h1>
          <div class="btn-container">
            <a class="button create-new" href="/my-resources/new">create new</a>
            <a class="button edit-btn" href="/my-resources/edit">edit</a>
          </div>
        </div>
        <div class="resources">
          <div class="card">
            <div class="title">
              <h3>Preact</h3>
              <p>written by: username</p>
              <div class="web-link">
                <a href="https://preactjs.com/"><i class="fas fa-link"></i></a>
              </div>
            </div>
            <div class="main">
              <div class="iframe-container">
                <iframe
                  src="https://preactjs.com/"
                  title="preact"
                  frameborder="0"
                  scrolling="no"
                >
                </iframe>
              </div>
              <div class="btn-container">
                <a class="button full">full article</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="title">
              <h3>Preact</h3>
              <p>posted by: username</p>
              <div class="web-link">
                <a href="https://preactjs.com/"><i class="fas fa-link"></i></a>
              </div>
            </div>
            <div class="main">
              <div class="iframe-container">
                <iframe
                  src="https://preactjs.com/"
                  title="preact"
                  frameborder="0"
                  scrolling="no"
                >
                </iframe>
              </div>
              <div class="btn-container">
                <a class="button full">full article</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="title">
              <h3>Preact</h3>
              <p>posted by: username</p>
              <div class="web-link">
                <a href="https://preactjs.com/"><i class="fas fa-link"></i></a>
              </div>
            </div>
            <div class="main">
              <div class="iframe-container">
                <iframe
                  src="https://preactjs.com/"
                  title="preact"
                  frameborder="0"
                  scrolling="no"
                >
                </iframe>
              </div>
              <div class="btn-container">
                <a class="button full">full article</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <%- include('partials/_footer') %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
