.login.wrapper {
  margin: 0 auto;
  height: 100%;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;

  h2 {
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;

    .form-group {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      justify-content: flex-end;

      div {
        margin: 10px 0;
        width: 100%;
      }

      label {
        margin-top: 16px;
      }
      input {
        margin-top: 5px;
        padding: 2px;
        width: 100%;
        border-radius: 4px;
        outline: none;
        border: 0.75px solid #222;
      }

      .btn-container {
        width: auto;
        margin: 10px auto;

        button {
          outline: none;
          border-radius: 10px;
          padding: 8px;
          min-width: 60px;
          font-size: 18px;
          border: none;
          background-color: rgb(201, 143, 125);
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
