.new-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;

  h2 {
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;

    .form-group {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      justify-content: flex-start;

      div {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      label {
        width: 100%;
        padding-left: 0;
      }

      input,
      textarea {
        margin-top: 5px;
        padding: 2px;
        padding-left: 5px;
        min-width: 100%;
        border-radius: 4px;
        outline: none;
        border: 0.75px solid rgb(34, 34, 34);
      }

      #article-div textarea {
        width: 100%;
        height: 100px;
        padding-left: 5px;
      }

      div.categories {
        display: block;
        margin: 0;

        .dropdown-check-list {
          display: inline-block;
        }

        .dropdown-check-list .anchor {
          position: relative;
          cursor: pointer;
          display: inline-block;
          padding: 5px 50px 5px 10px;
          border: 1px solid rgb(204, 204, 204);
          border-radius: 4px;
        }

        .dropdown-check-list .anchor:after {
          position: absolute;
          content: "";
          border-left: 2px solid black;
          border-top: 2px solid black;
          padding: 5px;
          right: 10px;
          top: 20%;
          -moz-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }

        .dropdown-check-list .anchor:active:after {
          right: 8px;
          top: 21%;
        }

        .dropdown-check-list ul.items {
          padding: 2px;
          display: none;
          margin: 0;
          border: 1px solid rgb(204, 204, 204);
          border-top: none;
          width: 60%;
          margin-left: 40%;
          border-radius: 4px;
          overflow-y: scroll;
          max-height: 150px;

          &::-webkit-scrollbar {
            width: 8px;
            height: 100%;
          }

          &::-webkit-scrollbar-thumb {
            background-color: rgb(38, 116, 135);
            border-radius: 4px;

            &:hover {
              background: rgb(176, 141, 125);
            }
          }
        }

        .dropdown-check-list ul.items li {
          list-style: none;
        }

        .dropdown-check-list.visible .anchor {
          color: rgb(38, 116, 135);
        }

        .dropdown-check-list.visible .items {
          display: block;
        }

        /* test */
        input[type="checkbox"]:not(:checked),
        input[type="checkbox"]:checked {
          position: absolute;
          left: -9999%;
        }

        input[type="checkbox"] + label {
          display: inline-block;
          width: 100%;
          cursor: pointer;
          color: rgb(0, 0, 0);
          background-color: transparent;
          margin-top: 5px;
          border-radius: 4px;
        }

        label {
          padding: 4px;
          padding-left: 10px;
        }

        input[type="checkbox"]:checked + label {
          color: rgb(255, 255, 255);
          background-color: rgb(38, 116, 135);
        }
      }

      .btn-container {
        width: auto;
        margin: 10px auto;

        button {
          background-color: rgb(176, 141, 125);
          color: rgb(255, 255, 255);
        }

        .create-btn.active {
          background-color: rgb(38, 116, 135);
        }
      }
    }
  }
}
