.signup.wrapper,
.login.wrapper {
  @include main-container;
}

.signup-form,
.login-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;

  h2 {
    color: rgb(38, 116, 135);
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;

    .form-group {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      justify-content: flex-end;

      div {
        margin: 10px 0;
        width: 100%;
      }

      label {
        margin-top: 16px;
      }
      input {
        margin-top: 5px;
        padding: 2px;
        width: 100%;
        border-radius: 4px;
        outline: none;
        border: 0.75px solid #222;
      }

      .btn-container {
        width: auto;
        margin: 10px auto;

        button {
          background-color: rgb(176, 141, 125);
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
