header {
  width: 100%;
  background-color: rgb(38, 116, 135);
  position: absolute;
  top: 0;
  z-index: 10;

  nav {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;

    ul {
      display: flex;
      font-size: 18px;
      align-items: center;
    }

    li {
      margin: 0 10px;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-weight: bolder;
      padding: 5px;
    }

    .login {
      color: rgb(38, 116, 135);
      background: rgb(255, 255, 255);
    }

    .signup {
      background-color: rgb(176, 141, 125);
      color: rgb(255, 255, 255);
    }

    .login,
    .signup {
      border-radius: 10px;
      padding: 8px;
      min-width: 60px;
    }

    .logo {
      font-size: 42px;

      a {
        color: rgb(255, 255, 255);
      }
    }

    input[type="text"] {
      border: none;
      font-size: 16px;
      margin: auto;
    }
    .search {
      border-radius: 10px;
      outline: none;
      padding: 8px 15px;
      min-width: 300px;
      background-color: rgb(255, 255, 255, 0.8);
    }

    .fa-user,
    .fa-user-alt {
      color: rgb(38, 116, 135);
      color: rgb(255, 255, 255);
    }
  }
}
