@import "../mixins.scss";
.profile-container {
  @include main-container;

  .info-container {
    padding: 20px 0;

    .personal,
    .stats-info {
      padding: 10px 0;
      border-bottom: 1px solid rgb(38, 116, 135);

      h3 {
        padding: 5px 0;
        color: rgb(38, 116, 135);
        font-weight: bolder;
      }

      p {
        padding: 4px 0;
        font-weight: bold;

        span {
          font-weight: 400;
        }
      }

      .password-box span {
        margin-top: 6px;
      }
    }
  }
  .btn-container {
    width: auto;
    margin: 10px auto;

    button {
      border: 1px solid rgb(176, 141, 125);
      color: rgb(176, 141, 125);
    }

    .edit-btn.active {
      background-color: rgb(176, 141, 125);
      color: rgb(255, 255, 255);
    }
  }

  // Edit Profile
  .edit-popout {
    background: rgb(255, 255, 255);
    height: 300px;
    width: 400px;
    z-index: 12;
    position: absolute;
    right: -10px;
    border: 1px solid rgb(38, 116, 135);
    border-radius: 8px;
    margin-top: 10px;
    opacity: 1;
    transition: opacity 300 ease-in-out;

    .edit-container {
      padding: 20px 30px 20px 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      h2 {
        color: rgb(38, 116, 135);
        text-align: center;
      }
      form {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .form-group {
          width: 80%;

          div {
            margin: 10px 0;
          }

          label {
            margin-top: 16px;
          }
          input {
            margin: 10px 0;
            padding: 2px;
            width: 100%;
            border-radius: 4px;
            outline: none;
            border: 0.75px solid #222;
          }

          .btn-container {
            width: auto;
            display: flex;
            justify-content: center;

            button {
              border: 1px solid rgb(176, 141, 125);
              color: rgb(176, 141, 125);
            }

            .save-btn.active {
              background-color: rgb(176, 141, 125);
              color: rgb(255, 255, 255);
            }
          }
        }
      }
    }
  }

  .edit-popout.hidden {
    opacity: 0;
  }
}
