main {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
}

// margin-top: 80px for nav, 20 for padding

body {
  color: rgb(17, 17, 17);
}

h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
